# Virtualenv
.venv/
venv/

# Python
__pycache__/
*.pyc

# Cache
cache/

# Environment
.env

# Secrets
credentials.json
token.json

# Editor
.vscode/

# macOS
.DS_Store

# Debug / generated images
debug.png
*.jpg
*.jpeg

# Optional logs
*.log

client_secret*.json
token.json
credentials.json
